{{ partial "head.html" . }}
{{ partial "header.html" . }}



<!-- Grid -->
<div class="w3-row">

    <!-- Blog entries -->
    <div class="w3-col l8 s12">

            {{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
            {{ range $pag.Pages }}
        <!-- Blog entry -->
        <article class="w3-card-4 w3-margin w3-white">
                {{ if .Params.image }}
                <img src="{{ .Params.image }}" alt="{{ .Title }}" style="width:100%; max-height:350px" />
                {{ end }}
                    <div class="w3-container">
                         <a href="{{ .Permalink }}">
                            <h3>{{ .Title }}</h3>
                                    {{ if .Params.subtitle }}
                                    <h5>
                                     {{ .Params.subtitle }}
                                     </h5>
                                    {{ end }}


                            <h6><span class="w3-opacity">{{ partial "post_metabis.html" . }}</span></h6>

                        </a>

                    </div>

                    <div class="w3-container">
                    {{ if .Truncated }}
                    {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}

                        <div class="w3-row w3-padding-32">
                            <div class="w3-col m8 s12">

<form style="display: inline" action="{{ .Permalink }}" method="get">
  <button class="w3-button w3-padding-large w3-white w3-border">&#8594; Lire</button>
</form>
                            
                               
                            
                            
                            </div>

                    <div class="w3-col m4 w3-hide-small">
                    {{ if .Params.tags }}
                    <span class="lestag">
                    {{ range .Params.tags }}
                        #<a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
                    {{ end }}
                    {{ end }}
                    </span>
                        </div>
                    {{ else }}
                    {{ .Content }}
                    {{ end }}



                    </div>

                    
        
                
                    
            </div>


        </article>
        {{ end }}    <hr>
    </div>

<!-- barre laterale -->



<div class="w3-col l4">

  <!-- Panneau 1 -->
{{if .IsHome}} 
   {{ partial "panneau1.html" . }}
{{ else }}
   {{ partial "panneau1bis.html" . }}
{{ end }}
<hr>
  
  <!-- Panneau 2 -->
   {{ partial "panneau2.html" . }}


  <hr> 
 
  {{ partial "panneau3.html" . }}
  
<!-- END barre laterale -->
</div>





</div> <!--end grid -->

</div> <!-- END w3-content -->


<!-- Footer -->
<footer class="w3-container w3-dark-grey w3-padding-32 w3-margin-top">

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          
            {{ if .Paginator.HasPrev }}
  
             

<form style="display: inline" action="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">&larr; {{ i18n "newerPosts" }}</button>
</form>


            {{ end }}
            {{ if .Paginator.HasNext }}
                

<form style="display: inline" action="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/" method="get">
  <button class="w3-button w3-padding-large w3-dark-grey w3-border">{{ i18n "olderPosts" }} &rarr;</button>
</form>


            {{ end }}
        {{ end }}






{{ partial "footer.html" . }}







