
<body class="w3-light-grey">


<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->




<header class="w3-container  w3-black">


<div class="w3-row w3-center w3-xxlarge w3-padding-large">


	<strong style="line-height:1.3em;"> <a href="{{ "" | absLangURL }}">{{ .Site.Title }}</a> </strong>
</div>


<div class="w3-row w3-padding">

		<div class="w3-third w3-center w3-small">
			<strong>[&nbsp;{{ if .Site.Author.messageacceuil }}
        {{ .Site.Author.messageacceuil }}
    {{ end }}&nbsp;]</strong>
		</div>
		
		<div class="w3-third w3-center">
					{{ if .Site.Author.mastodon }}
					<a href="{{ .Site.Author.mastodon }}" class="fab fa-mastodon w3-hover-text-red" title="Mastodon - Framapiaf"></a>&nbsp;
					{{ end }}

					{{ if .Site.Author.gitlab }}
					<a href="{{ .Site.Author.gitlab }}" class="fab fa-gitlab w3-hover-text-red" title="Compte Framagit"></a>&nbsp;
					{{ end }}
					
					{{ if .Site.Author.twitter }}
					<a href="{{ .Site.Author.twitter }}" class="fab fa-twitter w3-hover-text-red" title="Compte Touitteur"></a> 
					{{ end }}
    
					<a href="https://golb.statium.link/page/clefspubliques/" class="fas fa-key w3-hover-text-red" title="Clés de chiffrement"></a>
	
					{{ if .Site.Params.rss }} <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS" class="fas fa-rss w3-hover-text-red"></a> {{ end }}
	
		</div>
		
		<div class="w3-third w3-center w3-small ">
				{{ range .Site.Menus.main.ByWeight }}
				<strong><a class="w3-bar-item w3-button w3-hover-red" title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a></strong>
				{{ end }} 
		</div>

</div>



</header>



