<!DOCTYPE html>
<html lang="fr">
<head>
<meta name="robots" content="index,follow" /> 
<meta name="googlebot" content="index,follow" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">


<title>{{ .Title }}</title>

<!-- Les balises meta, open graph et touittère -->

<meta name="keywords" content="informatique,logiciels libres,historique,gnu,hacker,numérique,capitalisme,surveillance,vtt,sport">

<meta name="description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}" />
<meta property="og:title" content="{{ .Title }}" />
<meta name="twitter:title" content="{{ .Title | truncate 70 }}" />
<meta property="og:description" content="{{if .IsHome}}{{ $.Site.Params.description }}{{else}}{{.Description}}{{end}}">
<meta name="twitter:description" content="{{if .IsHome}}{{ $.Site.Params.description | truncate 200 }}{{else}}{{.Description | truncate 200 }}{{end}}">
<meta name="author" content="{{ .Site.Params.Author }}"/>
<link href='{{ .Site.Params.favicon | absURL }}' rel='icon' type='image/x-icon'/>



<meta property="og:image" content="{{if .IsHome}}{{ .Site.Params.logo | absURL }}{{else}}{{ .Params.image  | absURL  }}{{end}}" />
<meta name="twitter:image" content="{{if .IsHome}}{{ .Site.Params.logo | absURL }}{{else}}{{ .Params.image  | absURL  }}{{end}}" />



<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@{{ .Site.Author.twitter }}" />
<meta name="twitter:creator" content="@{{ .Site.Author.twitter }}" />
<meta property="og:url" content="{{ .Permalink | absLangURL }}" />
<meta property="og:type" content="website" />
<meta property="og:site_name" content="{{ .Site.Title }}" />
<!-- Hugo Version number -->
  {{ hugo.Generator -}}

<!-- les trucs serieux -->
<link rel="stylesheet" href="{{ "css/w3.css" | absURL }}" />

<link rel="stylesheet" href="{{ "css/custom.css" | absURL }}" />

<link rel="stylesheet" href="{{ "css/fonts.css" | absURL }}" />

<!-- polices fontawesome -->
  <link rel="stylesheet" href="{{ "css/fontawesome.css"  | absURL }}">
  <link rel="stylesheet" href="{{ "css/all.css"  | absURL }}">
  <link rel="stylesheet" href="{{ "css/brands.css"  | absURL }}">
  <link rel="stylesheet" href="{{ "css/regular.css"  | absURL }}">
  <link rel="stylesheet" href="{{ "css/solid.css"  | absURL }}">

</head>
