{{ partial "head.html" . }}
{{ partial "header.html" . }}


{{ $pag := .Paginate (where site.RegularPages "Type" "in" site.Params.mainSections) }}
{{ range $pag.Pages }}

<!-- Blog entry -->
<article  class="h-entry">
        {{ if .Params.image }}
                <!--<img src="{{ .Params.image }}" alt="{{ .Title }}" style="width:100%; max-height:350px" /> -->
        {{ end }}

        <h1 class="p-name">{{ .Title }}</h1>
        {{ if .Params.subtitle }}
        <p><em>{{ .Params.subtitle }}</em></p>
        {{ end }}

<p>{{ partial "post_metabis.html" . }} | &#10145;&nbsp;<a href="{{ .Permalink }}">Lire l'article</a></p>


        {{ if .Truncated }}
         <p class="p-summary">
        {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}
        </p>
        {{ else }}
        {{ .Content }}
        {{ end }}
        </article>
        {{ end }}












<!-- Footer -->
<hr>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}


            {{ if .Paginator.HasPrev }}
  
             

<a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">&larr; {{ i18n "newerPosts" }}</a>

{{else}}
{{ end }}

{{ if .Paginator.HasNext }}
                
&nbsp;&nbsp;&nbsp;
<a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">{{ i18n "olderPosts" }} &rarr;</a>



            {{ end }} 
            
        {{ end }}





{{ partial "footer.html" . }}






