





<hr>
<h1>Tags</h1>
 <p style="font-size: 80%;">{{ range $name, $taxonomy := .Site.Taxonomies.tags }}
   <a href="/tags/{{ $name | urlize }}">{{ $name }}</a>
  {{ end }}</p>


<hr>

<p> Copyright :
                  {{ if .Site.Author.name }}
            {{ if .Site.Author.website }}
              <a class="p-name u-url" href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
            {{ else }}
              {{ .Site.Author.name }}
            {{ end }}
          {{ end }}
    |
  {{ if .Site.Params.since }}
            {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
          {{ else }}
            {{ .Site.LastChange.Format "2006" }}
          {{ end }}

| Contenus sous <a href="http://artlibre.org/">Licence Art Libre</a>
<br />
{{ i18n "poweredBy" . | safeHTML }} | Lien vers profil <a rel="me" href="https://framapiaf.org/@Framatophe">Mastodon</a></p>




</footer>





</body>
</html>
