
<body>


<!-- w3-content defines a container for fixed size centered content, 
and is wrapped around the whole page content, except for the footer in this example -->




<header>

<!--
 __                  _
(__|_ __|_ o  ._ _  |_)| _ _
__)|_(_||_ ||_| | | |_)|(_(_|
                           _|
-->

<span style="font-family: Sans; font-size: 150%; background: red; color: black">&nbsp;Framatophe&nbsp;</span><span style="font-family: Sans; font-size: 150%; background: black; color: white">&nbsp;&nbsp;...&nbsp;Blog&nbsp;</span>


	<p><strong> <a href="{{ "" | absLangURL }}">
	<!--{{ .Site.Title }} -->
	Accueil	</a></strong>&nbsp;|&nbsp;{{ range .Site.Menus.main.ByWeight }}
				<a title="{{ .Name }}" href="{{ .URL  | relLangURL }}">{{ .Name }}</a>&nbsp;|
				{{ end }}





					{{ if .Site.Author.mastodon }}
					<a href="{{ .Site.Author.mastodon }}" style="text-decoration:none;" title="Mastodon - Framapiaf">&#128051;</a>&nbsp;|
					{{ end }}

					{{ if .Site.Author.gitlab }}
					<a href="{{ .Site.Author.gitlab }}" style="text-decoration:none;" title="Compte Framagit">&#9749;</a>&nbsp;|
					{{ end }}
					
					<a href="https://golb.statium.link/page/clefspubliques/" style="text-decoration:none;" title="Clés de chiffrement">&#128233;</a>&nbsp;|
	
					{{ if .Site.Params.rss }} <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" style="text-decoration:none;" title="Flux RSS">&#128266;</a>{{ end }}

    <hr>




</header>



