{{ partial "head.html" . }}
{{ partial "header.html" . }}

<div class="w3-content" style="max-width:800px">

<!-- Grid -->
<div class="w3-row">

<!-- Blog entries -->
<div class="w3-row">

<!-- Blog entry -->
        <div class="w3-card-4 w3-margin w3-light-grey">

                

    <div class="w3-container">
        <h1>{{ .Title }}</h1>
        {{ if .Params.subtitle }}
                                        <h5>
                                        {{ .Params.subtitle }}
                                        </h5>
                                    {{ end }}

<span class="w3-text-red">{{ partial "post_meta.html" . }}</span>
           <div class="danslestextes"> {{ .Content }} </div>

    </div>








</div> <!-- end Blog entry -->




</div> <!-- end Blog entries -->




</div>






<!-- Footer -->
<footer class="w3-light-grey w3-padding-32 w3-margin-top">
<div class="w3-row">

<div class="w3-half w3-left-align">


            {{ if ne .Type "page" }}
          {{ if .PrevInSection }}

<form style="display: inline" action="{{ .PrevInSection.Permalink }}" method="get">
  <button class="w3-button w3-padding-large w3-red w3-border">&larr; {{ i18n "previousPost" }}</button>
</form>



             {{ end }}
             
</div> <!-- half de pagination 1 -->

<div class="w3-half w3-right-align">

          {{ if .NextInSection }}
                


<form style="display: inline" action="{{ .NextInSection.Permalink }}" method="get">
  <button class="w3-button w3-padding-large w3-red w3-border">{{ i18n "nextPost" }} &rarr;</button>
</form>


          {{ end }}
      {{ end }}

</div> <!-- half de pagination 2 -->
</div> <!-- row de pagination -->






{{ partial "footer.html" . }}


</div> <!--end grid -->
</div> <!-- END w3-content -->




