{{ partial "head.html" . }}
{{ partial "header.html" . }}


    <h1># {{ .Title }}</h1>

        <!-- Blog entries -->
          {{ range .Paginator.Pages }}
        <!-- Blog entry -->
    <article>

    <h1>{{ .Title }}</h1>
        {{ if .Params.subtitle }}
        <h5>{{ .Params.subtitle }}</h5>
        {{ end }}
    <p>{{ partial "post_metabis.html" . }} | &#10145;&nbsp;<a href="{{ .Permalink }}">LIRE</a></p>
    <p>{{ if .Truncated }}
        {{ if .Params.summary }}{{ .Params.summary }}{{ else }}{{ .Summary }}{{ end }}</p>

    <p><a href="{{ .Permalink }}">&#8594; Lire</a></p>

    {{ if .Params.tags }}
    <p>{{ range .Params.tags }}
       #<a href="{{ $.Site.LanguagePrefix | absURL }}/tags/{{ . | urlize }}/">{{ . }}</a>&nbsp;
       {{ end }}
       {{ end }}
    </p>
       {{ else }}
       {{ .Content }}
       {{ end }}

        </article>
        {{ end }}
        <hr>

<!-- Footer -->
<footer>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
          
            {{ if .Paginator.HasPrev }}
  

<a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/">
  &larr; {{ i18n "newerPosts" }}</a>


            {{ end }}
            

            {{ if .Paginator.HasNext }}
                

<a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/">
  {{ i18n "olderPosts" }} &rarr;</a>


            {{ end }}
        {{ end }}


{{ partial "footer.html" . }}


