{{ partial "head.html" . }}
{{ partial "header.html" . }}




<!-- Blog entries -->


<!-- Blog entry -->

<article class="h-entry">

 <h1 class="p-name">{{ .Title }}</h1>
        {{ if .Params.subtitle }}
                                        <h5>
                                        {{ .Params.subtitle }}
                                        </h5>
                                    {{ end }}

{{ partial "post_meta.html" . }}
            {{ .Content }}





</article>


<!-- Footer -->
<footer>



            {{ if ne .Type "page" }} <hr>
          {{ if .PrevInSection }}

<a href="{{ .PrevInSection.Permalink }}">
  &larr; {{ i18n "previousPost" }}</a>




             {{ end }}
             
</div> <!-- half de pagination 1 -->


          {{ if .NextInSection }}
                

&nbsp;&nbsp;&nbsp;
<a href="{{ .NextInSection.Permalink }}">
  {{ i18n "nextPost" }} &rarr;</a>


          {{ end }}
      {{ end }}








{{ partial "footer.html" . }}







