<footer>

<div class="pieddepage">

<div class="rezosozio">
    {{ if .Site.Author.gitlab }}
        <a href="{{ .Site.Author.gitlab }}"><img src ="/img/gitlab.svg" /></a>
    {{ end }}

    {{ if .Site.Author.mastodon }}
        <a href="{{ .Site.Author.mastodon }}"><img src ="/img/mastodon.svg" /></a>
    {{ end }}

    {{ if .Site.Author.twitter }}
        <a href="{{ .Site.Author.twitter }}"><img src ="/img/twitter.svg" /></a>
    {{ end }}

    {{ if .Site.Author.linkedin }}
        <a href="{{ .Site.Author.linkedin }}"><img src ="/img/linkedin.svg" /></a>
    {{ end }}
</div>


<p>
      Copyright : 
                  {{ if .Site.Author.name }}
            {{ if .Site.Author.website }}
              <a href="{{ .Site.Author.website }}">{{ .Site.Author.name }}</a>
            {{ else }}
              {{ .Site.Author.name }}
            {{ end }}
          {{ end }}
    |
  {{ if .Site.Params.since }}
            {{ .Site.Params.since }} - {{ .Site.LastChange.Format "2006" }}
          {{ else }}
            {{ .Site.LastChange.Format "2006" }}
          {{ end }}

| <a href="http://artlibre.org/">Licence Art Libre</a> </p>

<p>
 {{ if .Site.Params.rss }}
        
            <a href="{{ with .OutputFormats.Get "RSS" }}{{ .RelPermalink }}{{ end }}" title="RSS">
              [rss &#128226;]
              </span>
            </a>
      
          {{ end }}
</p>

<p>
          {{ i18n "poweredBy" . | safeHTML }}
        </p>

</div>

</footer>



<script>
function myFunction() {
  var x = document.getElementById("manavbar");
  if (x.className === "navbar") {
    x.className += " responsive";
  } else {
    x.className = "navbar";
  }
}
</script>

</body>
</html>
