{{ partial "head.html" . }}
{{ partial "header.html" . }}

<strong>| Coin lecture. Ouvrages classés (à peu près) par ordre de parution |</strong>

{{ $paginator := .Paginate (where .Data.Pages "Type" "bibliographie") }}
{{ range .Paginator.Pages }}

<article>
<h1><a href="{{ .Permalink }}">{{ .Title }}</a> | {{ if .Params.subtitle }} {{ .Params.subtitle }}{{ end }}</h1>
<h2>Résumé / 4<sup>e</sup> couv.</h2>
{{ .Content }}
</article>
{{ end }}

{{ partial "panneau4auteurs.html" . }}


<!-- Footer -->
<footer>
<hr>

{{ if or (.Paginator.HasPrev) (.Paginator.HasNext) }}
   {{ if .Paginator.HasPrev }}
      <a href="{{ .Permalink }}page/{{ .Paginator.Prev.PageNumber }}/"> &larr; {{ i18n "newerPosts" }}</a>
   {{ end }}
   {{ if .Paginator.HasNext }}
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
<a href="{{ .Permalink }}page/{{ .Paginator.Next.PageNumber }}/"> {{ i18n "olderPosts" }} &rarr;</a>
   {{ end }}
{{ end }}

{{ partial "footer.html" . }}
