{{ partial "head.html" . }}
{{ partial "header.html" . }}


<!-- Grid -->

<!-- Blog entries -->



<!-- Blog entry -->
<h1>{{ .Title }} |
{{ if .Params.subtitle }} {{ .Params.subtitle }}</h1>
{{ end }}
{{ if .Params.image }}
{{ end }}
</h1>

<h2>Résumé / 4<sup>e</sup> couv.</h2>
{{ .Content }}
<p>
<a href="/bibliographie/" class="post-read-more">Retour au Coin lecture &#8594;</a></p>


  
  <!-- Panneau 4 auteurs -->
   {{ partial "panneau4auteurs.html" . }}

  
<!-- END barre laterale -->


<!-- Footer -->
<footer>

            {{ if ne .Type "page" }}
          {{ if .PrevInSection }}

<a href="{{ .PrevInSection.Permalink }}">
  &larr; {{ i18n "previousPost" }}</a>




             {{ end }}
          {{ if .NextInSection }}
                


<a href="{{ .NextInSection.Permalink }}">
  {{ i18n "nextPost" }} &rarr;</a>



          {{ end }}
      {{ end }}


{{ if .Site.Params.showRelatedPosts }}
          {{ $related := .Site.RegularPages.Related . | first 3 }}
          {{ with $related }}

          <h2>{{ i18n "seeAlso" }}</h2>
          <ul>
          {{ range . }}
            <li><a href="{{ .RelPermalink }}">{{ .Title }}</a></li>
          {{ end }}
          </ul>
          {{ end }}

        {{ end }}




{{ partial "footer.html" . }}







